@{
    ViewData["Title"] = "Check Email";
    Layout = "_Layout";
}

<div class="container">
    <h1>Имейлът е изпратен</h1>
    <br/>
    <p>Имейл за валидиране е изпратен на посоченият имейл. Моля, проверете пощенската си кутия и следвайте инструкциите за валидация.</p>
</div>
