@{
    ViewData["Title"] = "Verification Successful";
}

<h1>Валидацията на имейл е успешна</h1>

<br/>

<p>Честито! Вие валидирахте имейла си. Сега вече можете да  <a href="/Login">влезете</a> в профила си.</p>
