@{
    ViewData["Title"] = "Email sent";
    Layout = "_Layout";
}

<div class="container">
    <h1>Имейлът е изпратен</h1>
    <br />
    <p>Имейл за рестартиране на парола е изпратен. Моля, проверете пощенската си кутия и следвайте инструкциите за рестарт.</p>
</div>
