@{
    ViewData["Title"] = "Pass Reset Successful";
}

<h1>Успешно рестартиране на парола</h1>

<br/>

<p>Честито! Вие сменихте паролата си. Сега вече можете да  <a href="/Login">влезете</a> в профила си.</p>
